@import "../font/cerapro/stylesheet.css";
@import "../font/inter/stylesheet.css";
:root {
  --white: #FFFFFF;
  --grey: #F5F5F5;
  --blue: #2727FF;
  --black: #020D2B;
  --braun: #423A3A;
  --red: #FF4343;
  --light-white: #E0E0F9;
  --dark: #1A243F;
  --light-dark: rgba(62, 62, 62, 0.65);
  --light-grey: #CCCCCC;
  --greygrey: #ECECEC;
  --button-initial: #2727FF;
  --button-hover: rgba(39, 39, 255, 0.6);
  --button-disabled: #CCCCCC;
  --fonts:"cera pro";
  --inter:"Inter";
}

.input {
  display: block;
  border: 1px solid var(--black);
  border-radius: 29px;
  max-width: 430px;
  width: 100%;
  padding: 12px 0 10px 16px;
  margin-bottom: 10px;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 120%;
  color: var(--black);
  font-family: var(--inter);
}
.input::placeholder {
  color: rgba(72, 72, 72, 0.8);
}
@media (max-width: 400px) {
  .input {
    max-width: 330px;
  }
}

textarea {
  border: 1px solid var(--black);
  border-radius: 29px;
  max-width: 430px;
  font-family: var(--inter);
  width: 100%;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 120%;
  margin-bottom: 35px;
  height: 100px;
  padding: 12px 0 0 16px;
}
textarea::placeholder {
  color: var(--black);
}
@media (max-width: 400px) {
  textarea {
    max-width: 330px;
  }
}

button {
  background: var(--blue);
  border-radius: 29px;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 120%;
  color: var(--grey);
  padding: 14px 63px;
  border: none;
  display: flex;
  margin-bottom: 90px;
  font-family: var(--inter);
}
button:hover {
  background: var(--button-hover);
}

.tab {
  display: flex;
  margin-top: 46px;
}
.tab hr {
  display: block;
  margin-left: 0;
  max-width: 340px;
}
@media (max-width: 400px) {
  .tab hr {
    max-width: 275px;
  }
}
.tab p {
  font-weight: 400;
  font-size: 20px;
  line-height: 105%;
  color: var(--black);
  display: inline-block;
  margin-left: 65px;
  position: relative;
  cursor: pointer;
}
@media (max-width: 400px) {
  .tab p {
    font-size: 15px;
  }
}
.tab p.active {
  color: var(--blue);
}
.tab p.active:before {
  display: block;
}
.tab p:first-child {
  margin-left: 0;
}
.tab p:before {
  content: "";
  background: var(--blue);
  height: 4px;
  width: 100%;
  position: absolute;
  bottom: -11px;
  display: none;
}
.tab p:after {
  content: "";
  position: absolute;
  display: block;
  top: -20px;
  left: -20px;
  right: -20px;
  bottom: -2px;
}

@media (max-width: 768px) {
  .tabsoff {
    display: none;
  }
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex !important;
  align-items: flex-start !important;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
}

.swiper-slide img {
  display: block;
  width: 124px;
  height: 124%;
  border-radius: 50%;
}

.swiper-button-next {
  color: var(--blue);
  top: 96%;
}
.swiper-button-next:after {
  content: "";
  background-image: url("../icon/swiper_next.svg");
  width: 16px;
  height: 27px;
}
@media (max-width: 1260px) {
  .swiper-button-next {
    right: 40%;
  }
}
@media (max-width: 960px) {
  .swiper-button-next {
    display: none;
  }
}

.swiper-button-prev {
  color: var(--blue);
  left: 650px;
  top: 96%;
}
.swiper-button-prev:after {
  content: "";
  background-image: url("../icon/swiper_next.svg");
  width: 16px;
  height: 27px;
  transform: rotate(180deg);
}
@media (max-width: 1260px) {
  .swiper-button-prev {
    left: 40%;
  }
}
@media (max-width: 960px) {
  .swiper-button-prev {
    display: none;
  }
}

.swiper-backface-hidden.swiper-slide {
  display: flex;
  align-items: flex-start;
}

.swiper-pagination {
  z-index: 1;
  position: initial;
  margin-top: 60px;
}

.swiper-pagination-bullet {
  width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 10px));
  height: var(--swiper-pagination-bullet-height, var(--swiper-pagination-bullet-size, 10px));
  border-color: black;
  border-style: solid;
  border-width: 1px;
  background: var(--white);
  opacity: 2;
}

.visible > .swiper-pagination-bullet {
  width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 10px));
  height: var(--swiper-pagination-bullet-height, var(--swiper-pagination-bullet-size, 10px));
  border-color: var(--white);
  border-style: solid;
  border-width: 1px;
  background: var(--black);
  opacity: 2;
}

.swiper-pagination-bullet-active {
  border-color: transparent;
  background: var(--blue);
}

.visible > .swiper-pagination-bullet-active {
  border-color: transparent;
  background: var(--blue);
}

.color {
  background: var(--black);
}

.mainSwiper {
  display: none;
  width: auto;
}
@media (max-width: 768px) {
  .mainSwiper {
    display: block;
    height: 560px;
  }
}

.swipers {
  display: none;
}
@media (max-width: 768px) {
  .swipers {
    display: block;
  }
}

.visible {
  left: 0 !important;
  position: absolute;
}

.swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal {
  left: 325px;
}
@media (max-width: 1260px) {
  .swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal {
    left: 0;
  }
}

.reviews-pagination {
  position: sticky;
  bottom: 20px;
}

.on {
  display: none;
}
@media (max-width: 768px) {
  .on {
    display: block;
  }
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

html {
  height: 100%;
}

body {
  line-height: 1;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 40px;
}
@media (max-width: 1100px) {
  .container {
    padding: 0 16px;
  }
}

.wrapper {
  max-width: 1280px;
  margin: 0 auto;
}

a, p, h1, h2, h3, h4, span, li, input, button {
  font-family: var(--fonts);
  font-style: normal;
}

.main {
  padding-bottom: 45px;
  background-color: var(--white);
  position: relative;
}
.main__logo-info {
  display: flex;
  justify-content: space-between;
}
.main__logo-info a {
  margin-top: 49px;
}
.main__logo-info a picture img {
  margin-left: 0;
  max-width: 190px;
  height: 40px;
}
@media (max-width: 768px) {
  .main__logo-info a {
    margin-top: 30px;
  }
  .main__logo-info a picture img {
    max-width: 90px;
    height: 20px;
  }
}
.main__img {
  position: absolute;
  top: 86px;
  right: 0;
}
@media (max-width: 768px) {
  .main__img {
    margin-top: 76px;
  }
}
.main__img picture img {
  max-width: 945px;
  width: 100%;
  margin-left: 0;
}
.main__info {
  margin-top: 40px;
}
@media (max-width: 768px) {
  .main__info {
    margin-top: 30px;
  }
}
.main__info a {
  display: flex;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  color: var(--black);
  align-items: center;
  margin-top: 0;
}
@media (max-width: 768px) {
  .main__info a {
    font-size: 14px;
  }
}
.main__info a:before {
  content: "";
  display: inline-block;
  background-image: url("../icon/envelope.svg");
  width: 28px;
  height: 22px;
  margin-right: 6px;
}
@media (max-width: 768px) {
  .main__info a:before {
    width: 20px;
    height: 16px;
    background-size: cover;
    background-position: center;
  }
}
.main__info a:first-child {
  margin-bottom: 6px;
}
.main__info a:first-child:before {
  content: "";
  display: inline-block;
  background-image: url("../icon/telephone.svg");
  width: 24px;
  height: 24px;
  margin-right: 9px;
}
@media (max-width: 768px) {
  .main__info a:first-child:before {
    width: 18px;
    height: 18px;
    background-size: cover;
    background-position: center;
  }
}
.main__text-img {
  display: flex;
  justify-content: space-between;
}
.main__text {
  color: var(--black);
  display: inline-block;
  align-self: flex-end;
  max-width: 410px;
  margin-top: 290px;
  position: relative;
  z-index: 1;
}
.main__text h1 {
  font-weight: 700;
  font-size: 60px;
  line-height: 115%;
  text-transform: uppercase;
  margin-bottom: 10px;
}
@media (max-width: 768px) {
  .main__text h1 {
    font-size: 35px;
    line-height: 115%;
    white-space: pre-line;
  }
}
.main__text p {
  font-weight: 400;
  font-size: 30px;
  line-height: 120%;
}
@media (max-width: 768px) {
  .main__text p {
    font-size: 20px;
    line-height: 120%;
    white-space: pre-line;
  }
}
.list {
  background: var(--black);
  padding: 90px 0 80px 0;
}
@media (max-width: 960px) {
  .list {
    padding-top: 45px;
  }
}
.list__founder {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 960px) {
  .list__founder {
    display: block;
  }
}
.list__founder h2 {
  font-weight: 400;
  font-size: 60px;
  line-height: 115%;
  text-transform: uppercase;
  color: var(--white);
}
@media (max-width: 1100px) {
  .list__founder h2 {
    font-size: 40px;
  }
}
.list__text {
  display: flex;
  align-items: flex-start;
}
@media (max-width: 960px) {
  .list__text {
    margin-top: 25px;
    display: block;
  }
}
.list__photo {
  margin-right: 30px;
}
.list__photo picture img {
  max-width: 125px;
  width: 100%;
  height: 125px;
  border-radius: 50%;
}
@media (max-width: 960px) {
  .list__photo picture img {
    display: block;
  }
}
.list__paragraph h3 {
  font-weight: 400;
  font-size: 30px;
  line-height: 120%;
  color: var(--white);
  margin-bottom: 5px;
  white-space: pre-line;
  text-transform: uppercase;
}
.list__paragraph p {
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  color: var(--white);
  max-width: 379px;
  white-space: pre-line;
}
.list__paragraph p:last-child {
  margin-top: 17px;
  max-width: 585px;
  white-space: pre-line;
}
.list__wrapper {
  margin-top: 84px;
}
.list__wrapper h3 {
  font-weight: 400;
  font-size: 60px;
  line-height: 115%;
  color: var(--white);
  text-transform: uppercase;
}
@media (max-width: 960px) {
  .list__wrapper h3 {
    font-size: 30px;
  }
}
.list__from {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (max-width: 1260px) {
  .list__from {
    display: block;
  }
}
@media (max-width: 768px) {
  .list__from {
    display: none;
  }
}
.list__from-block {
  background: var(--grey);
  padding: 16px 13px 16px 13px;
  border-radius: 20px;
  max-width: 556px;
  height: 320px;
  font-weight: 400;
  position: relative;
  margin-top: 30px;
}
@media (max-width: 1260px) {
  .list__from-block {
    margin: 0 auto;
    margin-top: 30px;
  }
}
@media (max-width: 768px) {
  .list__from-block {
    height: 420px;
  }
}
.list__from-block picture img {
  margin-left: 0;
}
.list__from-block h3 {
  font-size: 35px;
  line-height: 120%;
  text-transform: uppercase;
  color: var(--black);
}
@media (max-width: 768px) {
  .list__from-block h3 {
    font-size: 22px;
    white-space: pre-line;
  }
}
@media (max-width: 768px) {
  .list__from-block h3 {
    white-space: inherit;
    text-align: left;
  }
}
.list__from-block p {
  font-size: 18px;
  line-height: 140%;
  color: var(--black);
  margin-top: 2px;
}
@media (max-width: 768px) {
  .list__from-block p {
    font-size: 16px;
    margin-top: 10px;
    text-align: left;
  }
}
.list__img {
  margin-top: 30px;
  position: absolute;
  left: 30px;
  bottom: 16px;
}
.list__number {
  position: absolute;
  right: 25px;
  bottom: -16px;
}
.list__number span {
  font-family: var(--inter);
  font-style: normal;
  font-weight: 400;
  font-size: 150px;
  line-height: 182px;
  text-transform: uppercase;
  color: var(--greygrey);
}
@media (max-width: 768px) {
  .list__number span {
    font-size: 100px;
    line-height: 121px;
  }
}
.list__swipers {
  display: none;
}
@media (max-width: 768px) {
  .list__swipers {
    display: block;
  }
}

.receive {
  background: var(--white);
  padding: 90px 0px 105px 0px;
}
@media (max-width: 768px) {
  .receive {
    padding-top: 45px;
  }
}
.receive hr {
  display: block;
  margin-left: 0;
}
@media (max-width: 400px) {
  .receive hr {
    max-width: 275px;
  }
}
@media (max-width: 768px) {
  .receive hr {
    display: none;
  }
}
.receive h3 {
  font-family: var(--fonts);
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  line-height: 115%;
  color: var(--black);
  text-transform: uppercase;
}
@media (max-width: 768px) {
  .receive h3 {
    font-size: 35px;
    line-height: 115%;
  }
}
.receive__sales {
  display: none;
  position: relative;
  overflow: hidden;
}
@media (max-width: 1280px) {
  .receive__sales {
    flex-wrap: wrap;
    justify-content: center;
  }
}
.receive__sales.active {
  display: flex;
  position: relative;
}
.receive__sales-item {
  position: relative;
}
.receive__sales-item::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(62, 62, 62, 0.65);
  border-radius: 13px;
}
.receive__sales-item:hover:before {
  display: none;
}
.receive__sales h3 {
  position: relative;
  z-index: 1;
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 120%;
  color: var(--white);
}
.receive__sales p {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  color: var(--white);
  display: none;
}
.receive__sales-one {
  background-image: url("../img/receive_b2b.png");
  max-width: 280px;
  width: 100%;
  height: 595px;
}
@media (max-width: 768px) {
  .receive__sales-one {
    display: none;
  }
}
.receive__sales-one p {
  padding: 0 16px 16px 16px;
}
.receive__sales-one h3 {
  font-weight: 400;
  font-size: 25px;
  line-height: 120%;
  color: var(--white);
  padding: 16px 16px 0 16px;
}
.receive__sales-one:hover {
  background: var(--blue);
  border-radius: 13px;
}
.receive__sales-one:hover p {
  display: block;
}
.receive__sales-two {
  display: flex;
  flex-wrap: wrap;
  margin-left: 30px;
  max-width: 430px;
  width: 100%;
}
@media (max-width: 960px) {
  .receive__sales-two {
    margin-left: 25px;
  }
}
@media (max-width: 768px) {
  .receive__sales-two {
    display: none;
  }
}
.receive__img-one {
  background-image: url("../img/receive_product.png");
  max-width: 430px;
  width: 100%;
  height: 275px;
  background-size: cover;
  padding-right: 16px;
  border-radius: 13px;
}
.receive__img-one h3, .receive__img-one p {
  padding: 0px 16px 16px 16px;
}
.receive__img-one:hover {
  background: var(--blue);
  border-radius: 13px;
}
.receive__img-one:hover p {
  display: block;
}
.receive .receive__img-two {
  background-image: url("../img/receive_crm.png");
  max-width: 200px;
  width: 100%;
  background-size: cover;
  height: 295px;
  margin-top: 25px;
}
.receive .receive__img-two p {
  padding: 0 16px 16px 16px;
}
.receive .receive__img-two h3 {
  padding: 16px 16px 0 16px;
}
.receive .receive__img-two:hover {
  background: var(--blue);
  border-radius: 13px;
}
.receive .receive__img-two:hover p {
  display: block;
}
.receive .receive__img-three {
  background-image: url("../img/receive_service.png");
  max-width: 200px;
  width: 100%;
  background-size: cover;
  height: 295px;
  margin-top: 25px;
  margin-left: 30px;
}
.receive .receive__img-three p {
  padding: 0 16px 16px 16px;
}
.receive .receive__img-three h3 {
  padding: 16px 16px 0 16px;
}
.receive .receive__img-three:hover {
  background: var(--blue);
  border-radius: 13px;
}
.receive .receive__img-three:hover p {
  display: block;
}
.receive__text {
  margin-left: 30px;
  max-width: 430px;
  position: relative;
}
@media (max-width: 1280px) {
  .receive__text {
    order: -1;
  }
}
@media (max-width: 768px) {
  .receive__text {
    margin-left: 0;
    margin-top: 30px;
  }
}
.receive__text ul {
  margin-left: 45px;
}
.receive__text ul li {
  margin-top: 10px;
}
.receive__text h3 {
  margin-bottom: 20px;
  padding: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 120%;
  text-transform: uppercase;
  color: var(--black);
}
@media (max-width: 768px) {
  .receive__text h3 {
    margin-bottom: 10px;
    font-size: 30px;
  }
}
.receive__text h3 span {
  color: var(--red);
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 120%;
  text-transform: uppercase;
}
@media (max-width: 768px) {
  .receive__text h3 span {
    font-size: 30px;
  }
}
.receive__text p {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  color: var(--black);
  display: block;
  padding: 0;
}
.receive__text p:nth-of-type(2) {
  margin-top: 10px;
}
.receive__effectiveness {
  display: none;
  margin-top: 25px;
  position: relative;
  overflow: hidden;
}
.receive__effectiveness.active {
  display: flex;
  justify-content: center;
}
.receive__effectiveness-img {
  display: flex;
  flex-wrap: wrap;
  max-width: 740px;
  width: 100%;
  justify-content: space-between;
}
@media (max-width: 1260px) {
  .receive__effectiveness-img {
    display: none;
  }
}
.receive__effectiveness-img h3 {
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 120%;
  color: var(--white);
  padding-top: 16px;
  padding-left: 16px;
  margin-bottom: 10px;
  position: relative;
}
.receive__effectiveness-img p {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  color: var(--white);
  display: none;
  padding: 0 16px;
}
.receive__effectiveness-img-one {
  background-image: url("../img/effectiveness_one.png");
  max-width: 430px;
  width: 100%;
  height: 222px;
  background-size: contain;
  background-repeat: no-repeat;
  margin-bottom: 25px;
}
.receive__effectiveness-img-one:hover {
  background: var(--blue);
  border-radius: 13px;
}
.receive__effectiveness-img-one:hover p {
  display: block;
}
.receive__effectiveness-img-two {
  background-image: url("../img/effectiveness_two.png");
  max-width: 280px;
  width: 100%;
  height: 220px;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 25px;
}
.receive__effectiveness-img-two:hover {
  background: var(--blue);
  border-radius: 13px;
}
.receive__effectiveness-img-two:hover p {
  display: block;
}
.receive__effectiveness-img-three {
  background-image: url("../img/effectiveness_three.png");
  max-width: 280px;
  width: 100%;
  height: 200px;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 25px;
}
.receive__effectiveness-img-three:hover {
  background: var(--blue);
  border-radius: 13px;
}
.receive__effectiveness-img-three:hover p {
  display: block;
}
.receive__effectiveness-img-four {
  background-image: url("../img/effectiveness_four.png");
  max-width: 430px;
  width: 100%;
  height: 125px;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 25px;
}
.receive__effectiveness-img-four:hover {
  background: var(--blue);
  border-radius: 13px;
}
.receive__effectiveness-img-four:hover p {
  display: block;
}
.receive__effectiveness-img-five {
  background-image: url("../img/effectiveness_five.png");
  max-width: 430px;
  width: 100%;
  height: 125px;
  background-size: cover;
  background-repeat: no-repeat;
}
.receive__effectiveness-img-five:hover {
  background: var(--blue);
  border-radius: 13px;
}
.receive__effectiveness-img-five:hover p {
  display: block;
}
.receive__effectiveness-img-six {
  background-image: url("../img/effectiveness_six.png");
  max-width: 280px;
  width: 100%;
  height: 200px;
  background-size: cover;
  background-repeat: no-repeat;
}
.receive__effectiveness-img-six:hover {
  background: var(--blue);
  border-radius: 13px;
}
.receive__effectiveness-img-six:hover p {
  display: block;
}
.receive__effectiveness-text {
  margin-left: 30px;
  max-width: 430px;
  width: 100%;
  z-index: 2;
  position: relative;
}
@media (max-width: 768px) {
  .receive__effectiveness-text {
    margin-left: 0;
  }
}
.receive__effectiveness-text h3 {
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 120%;
  text-transform: uppercase;
  white-space: pre-line;
  color: var(--black);
}
@media (max-width: 768px) {
  .receive__effectiveness-text h3 {
    font-size: 30px;
    white-space: inherit;
  }
}
.receive__effectiveness-text h3:last-child {
  margin-top: 40px;
}
.receive__effectiveness-text h3 span {
  color: var(--red);
}
.receive__effectiveness-text p {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  color: var(--black);
  margin-top: 20px;
}
.receive__customers {
  justify-content: space-between;
  margin-top: 27px;
  display: none;
}
.receive__customers.active {
  display: flex;
}
.receive__customers-img {
  background-image: url("../img/Customers_img.png");
  max-width: 725px;
  width: 100%;
  height: 435px;
  background-size: cover;
  position: relative;
  margin-top: 80px;
}
@media (max-width: 1260px) {
  .receive__customers-img {
    display: none;
  }
}
.receive__customers-img-text-one {
  position: absolute;
  top: 32%;
  left: 14%;
}
.receive__customers-img-text-one p {
  font-weight: 400;
  font-size: 30px;
  line-height: 120%;
  color: #020D2B;
  opacity: 0.2;
}
.receive__customers-img-text {
  position: absolute;
  top: 32%;
  right: 10%;
  display: block;
}
.receive__customers-img-text p {
  font-weight: 400;
  font-size: 30px;
  line-height: 120%;
  color: #020D2B;
}
.receive__customers-text {
  max-width: 430px;
  width: 100%;
}
.receive__customers-text h3 {
  font-weight: 400;
  font-size: 35px;
  line-height: 120%;
  text-transform: uppercase;
  color: var(--black);
}
@media (max-width: 768px) {
  .receive__customers-text h3 {
    font-size: 30px;
  }
}
.receive__customers-text h3:last-child {
  margin-top: 40px;
}
.receive__customers-text h3 span {
  color: var(--red);
}
@media (max-width: 768px) {
  .receive__customers-text h3 span {
    font-size: 30px;
  }
}
.receive__customers-text p {
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  color: var(--black);
  margin-top: 20px;
  white-space: pre-line;
}
.receive__all {
  display: flex;
  width: 100%;
  max-width: 1200px;
  margin-top: 25px;
  justify-content: space-around;
}
@media (max-width: 1260px) {
  .receive__all {
    display: none;
  }
}
.receive__slide {
  margin-top: 90px;
  display: none;
}
@media (max-width: 1100px) {
  .receive__slide {
    display: block;
  }
}
.receive__slide h3 {
  font-weight: 400;
  font-size: 30px;
  line-height: 120%;
  display: flex;
  justify-content: center;
  color: var(--black);
  text-transform: uppercase;
}
.receive__item {
  text-align: left;
  max-width: 290px;
  width: 100%;
  background: var(--blue);
  padding: 16px;
  height: 447px;
  border-radius: 13px;
  margin-top: 25px;
}
.receive__item h3 {
  display: block;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  color: var(--white);
}
.receive__item p {
  color: var(--white);
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
}
.receive__next {
  display: none;
}
@media (max-width: 1100px) {
  .receive__next {
    display: block;
  }
}
.receive__next p {
  display: flex;
  font-size: 16px;
  line-height: 140%;
}
.receive__next > .next {
  color: var(--blue);
}
.receive__loyalty {
  justify-content: space-between;
  margin-top: 27px;
  display: none;
}
.receive__loyalty.active {
  display: flex;
}
.receive__loyalty-img {
  background-image: url("../img/Customers_img.png");
  max-width: 725px;
  width: 100%;
  height: 435px;
  background-size: cover;
  position: relative;
  margin-top: 80px;
}
@media (max-width: 1260px) {
  .receive__loyalty-img {
    display: none;
  }
}
.receive__loyalty-img-text-one {
  position: absolute;
  top: 32%;
  left: 14%;
}
.receive__loyalty-img-text-one p {
  font-weight: 400;
  font-size: 30px;
  line-height: 120%;
  color: #020D2B;
  opacity: 0.2;
}
.receive__loyalty-img-text {
  position: absolute;
  top: 32%;
  right: 7%;
  display: block;
  text-align: right;
}
.receive__loyalty-img-text p {
  font-weight: 400;
  font-size: 30px;
  line-height: 120%;
  color: #020D2B;
}
.receive__loyalty-text {
  max-width: 430px;
  width: 100%;
}
.receive__loyalty-text h3 {
  font-weight: 400;
  font-size: 35px;
  line-height: 120%;
  text-transform: uppercase;
  color: var(--black);
}
@media (max-width: 768px) {
  .receive__loyalty-text h3 {
    font-size: 30px;
  }
}
.receive__loyalty-text h3:last-child {
  margin-top: 40px;
}
.receive__loyalty-text h3 span {
  color: var(--red);
}
@media (max-width: 768px) {
  .receive__loyalty-text h3 span {
    font-size: 30px;
  }
}
.receive__loyalty-text p {
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  color: var(--black);
  margin-top: 20px;
  white-space: pre-line;
}

.ons {
  display: block;
}

.flex {
  display: none;
  justify-content: space-between;
}
@media (max-width: 1100px) {
  .flex {
    display: flex;
  }
}

.back {
  display: none;
  align-items: center;
  white-space: pre-line;
  justify-content: flex-end;
}
@media (max-width: 1100px) {
  .back {
    display: flex;
  }
}
.back:before {
  display: flex;
  content: "";
  background-image: url("../icon/swiper_next.svg");
  width: 16px;
  height: 27px;
  transform: rotate(180deg);
  margin-right: 15px;
}

.next {
  display: none;
  align-items: center;
  white-space: pre-line;
  justify-content: flex-end;
  color: var(--blue);
}
@media (max-width: 1100px) {
  .next {
    display: flex;
  }
}
.next:after {
  margin-left: 15px;
  display: flex;
  content: "";
  background-image: url("../icon/swiper_next.svg");
  width: 16px;
  height: 27px;
}

.text_h3 {
  margin-top: 25px;
}

.circle6 {
  max-width: 500px;
  width: 100%;
  height: 490px;
  position: absolute;
  top: 2px;
  right: -119px;
  border: 2px solid #E0E0F9;
  border-radius: 50%;
}
@media (max-width: 768px) {
  .circle6 {
    max-width: 295px;
    height: 290px;
    top: 570px;
    right: -125px;
  }
}

.work {
  background: var(--black);
  display: flex;
  flex-wrap: wrap;
  padding: 90px 0 80px 0;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.work h2, .work h3, .work li {
  font-weight: 400;
  font-size: 60px;
  line-height: 115%;
  text-transform: uppercase;
  color: #FFFFFF;
}
@media (max-width: 768px) {
  .work {
    padding: 45px 0 45px 0;
  }
  .work h2 {
    font-size: 31px;
  }
}
.work__works {
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 768px) {
  .work__works {
    display: block;
  }
}
.work__list {
  display: flex;
  flex-basis: 50%;
}
.work__list span {
  font-family: var(--inter);
  font-weight: 400;
  font-size: 110px;
  line-height: 133px;
  text-transform: uppercase;
  color: var(--braun);
  margin-top: 65px;
}
@media (max-width: 768px) {
  .work__list {
    display: block;
  }
}
.work__list h3 {
  font-size: 35px;
  line-height: 120%;
  width: 100%;
}
@media (max-width: 1260px) {
  .work__list h3 {
    font-size: 20px;
  }
}
.work__list-text {
  margin-left: 36px;
  margin-top: 56px;
  position: relative;
  z-index: 1;
}
@media (max-width: 768px) {
  .work__list-text {
    margin-left: 0;
    margin-top: 15px;
  }
}
.work__list-text ul {
  margin-left: 30px;
  margin-top: 20px;
}
@media (max-width: 768px) {
  .work__list-text ul {
    margin-top: 10px;
  }
}
.work__list-text ul li {
  font-size: 18px;
  line-height: 140%;
  list-style: inherit;
  text-transform: none;
}
@media (max-width: 1260px) {
  .work__list-text ul li {
    font-size: 15px;
  }
}

.circle7 {
  max-width: 295px;
  width: 100%;
  height: 290px;
  position: absolute;
  bottom: 33px;
  left: -75px;
  border: 2px solid #1A243F;
  border-radius: 50%;
}

.circle8 {
  max-width: 535px;
  width: 100%;
  height: 525px;
  position: absolute;
  top: 19px;
  right: -120px;
  border: 2px solid #1A243F;
  border-radius: 50%;
  z-index: 0;
}

.reviews {
  background: var(--white);
  padding: 90px 0 82px 0;
}
@media (max-width: 960px) {
  .reviews {
    padding: 45px 0 45px 0;
  }
}
.reviews h3 {
  font-weight: 400;
  font-size: 60px;
  line-height: 115%;
  text-transform: uppercase;
  color: var(--black);
}
.reviews p {
  color: var(--black);
  text-align: justify;
}
.reviews__review {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1260px) {
  .reviews__review {
    display: block;
  }
}

.list__paragraph h3 {
  font-size: 30px;
  text-align: justify;
}

@media (max-width: 1260px) {
  .ends {
    margin-top: 30px;
  }
}

@media (max-width: 1260px) {
  .end {
    justify-content: center;
  }
}

.integrations {
  background: var(--black);
  padding: 90px 0 180px 0;
  position: relative;
  overflow: hidden;
}
@media (max-width: 540px) {
  .integrations {
    padding: 45px 0 70px 0;
  }
}
.integrations h3 {
  font-weight: 400;
  font-size: 60px;
  line-height: 115%;
  text-transform: uppercase;
  color: #FFFFFF;
}
@media (max-width: 540px) {
  .integrations h3 {
    font-size: 35px;
  }
}
.integrations__img {
  margin-top: 56px;
  display: flex;
  justify-content: center;
  gap: 102px;
}
@media (max-width: 540px) {
  .integrations__img {
    display: block;
  }
}
.integrations picture {
  display: flex;
  justify-content: center;
  align-items: baseline;
}
@media (max-width: 540px) {
  .integrations picture {
    display: block;
  }
}
.integrations picture img {
  max-width: 225px;
  height: 110px;
  position: relative;
  z-index: 2;
}
@media (max-width: 540px) {
  .integrations picture img {
    display: block;
    margin: 0 auto;
  }
}
.integrations picture img:last-child {
  max-width: 195px;
  height: 90px;
}
@media (max-width: 540px) {
  .integrations picture img:last-child {
    display: block;
    margin: 0 auto;
    margin-top: 45px;
  }
}

.circle8 {
  max-width: 653px;
  width: 100%;
  height: 630px;
  position: absolute;
  top: -77px;
  right: -177px;
  border-radius: 50%;
  border: 2px solid #1A243F;
}

.circle9 {
  max-width: 340px;
  width: 100%;
  height: 335px;
  position: absolute;
  top: 225px;
  right: 230px;
  border-radius: 50%;
  border: 2px solid #1A243F;
}

.application {
  background: var(--white);
  padding: 90px 0 0 20px;
  position: relative;
}
.application h3 {
  font-weight: 400;
  font-size: 60px;
  line-height: 115%;
  text-transform: uppercase;
  color: var(--black);
}
@media (max-width: 1260px) {
  .application h3 {
    font-size: 40px;
  }
}
.application__inputs {
  margin-top: 31px;
  display: none;
}
.application__inputs.active {
  display: flex;
}
.application__input {
  width: 100%;
}
.application__img {
  display: flex;
}
.application__img picture img {
  max-width: 430px;
  height: 430px;
  position: absolute;
  top: 80px;
  right: 205px;
}
@media (max-width: 1100px) {
  .application__img picture img {
    max-width: 250px;
    height: 250px;
  }
}
@media (max-width: 960px) {
  .application__img picture img {
    right: 25px;
  }
}
@media (max-width: 768px) {
  .application__img picture img {
    display: none;
  }
}
.application__contacts {
  position: relative;
  display: none;
}
.application__contacts.active {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1100px) {
  .application__contacts.active {
    display: block;
  }
}
.application__contact {
  max-width: 460px;
  width: 100%;
  margin-top: 38px;
}
.application__contact a {
  margin-bottom: 17px;
  display: flex;
  font-weight: 400;
  font-size: 25px;
  line-height: 120%;
  color: var(--black);
  align-items: center;
}
.application__contact a:nth-of-type(1):before {
  content: "";
  background-image: url("../icon/contact_navigator.svg");
  width: 19px;
  height: 24px;
  display: inline-flex;
  flex-shrink: 0;
  margin-right: 11px;
}
.application__contact a:nth-of-type(2):before {
  content: "";
  background-image: url("../icon/envelope.svg");
  width: 27px;
  height: 22px;
  display: inline-flex;
  flex-shrink: 0;
  margin-right: 11px;
}
.application__contact a:nth-of-type(3):before {
  content: "";
  background-image: url("../icon/telephone.svg");
  width: 24px;
  height: 24px;
  display: inline-flex;
  flex-shrink: 0;
  margin-right: 11px;
}
.application__contact a:nth-of-type(4):before {
  content: "";
  background-image: url("../icon/contact_telegram.svg");
  width: 28px;
  height: 24px;
  display: inline-flex;
  flex-shrink: 0;
  margin-right: 11px;
}
.application__map {
  margin-top: -220px;
  max-width: 625px;
  width: 100%;
}
@media (max-width: 1100px) {
  .application__map {
    margin-top: 0;
  }
}
.application__map picture img {
  max-width: 625px;
  width: 100%;
  height: 100vh;
  position: absolute;
  right: 0;
  top: -245px;
}
@media (max-width: 1260px) {
  .application__map picture img {
    top: -220px;
  }
}
@media (max-width: 1100px) {
  .application__map picture img {
    margin-left: 0;
    position: inherit;
  }
}
@media (max-width: 1100px) {
  .application__map picture {
    display: block;
  }
}

.footer {
  padding: 115px 0;
  background: var(--black);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  overflow: hidden;
}
.footer picture a img {
  margin-left: 0;
  max-width: 150px;
  height: 30px;
  position: relative;
  z-index: 2;
}

.circle {
  position: absolute;
  top: 36px;
  left: -35px;
  max-width: 341px;
  width: 100%;
  height: 335px;
  border-radius: 50%;
  border: 2px solid #1A243F;
}

.circle2 {
  position: absolute;
  bottom: 96px;
  left: 179px;
  max-width: 341px;
  width: 100%;
  height: 335px;
  border-radius: 50%;
  border: 2px solid #1A243F;
}
@media (max-width: 768px) {
  .circle2 {
    display: none;
  }
}

.circle3 {
  position: absolute;
  bottom: 64px;
  right: -35px;
  max-width: 340px;
  width: 100%;
  height: 335px;
  border-radius: 50%;
  border: 2px solid #1A243F;
}

.circle4 {
  position: absolute;
  top: 146px;
  right: 213px;
  max-width: 340px;
  width: 100%;
  height: 335px;
  border-radius: 50%;
  border: 2px solid #1A243F;
}

.circle5 {
  position: absolute;
  top: -209px;
  right: -194px;
  max-width: 645px;
  width: 100%;
  height: 630px;
  border-radius: 50%;
  border: 2px solid #1A243F;
}
@media (max-width: 768px) {
  .circle5 {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
