:root {
  --text-color-primary: #FFFFFF;
  --text-color-supportive: #F5F5F5;
  --text-color-active: #2727FF;
  --text-color-secondary: #020D2B;
  --text-color-number: #423A3A;
  --text-color-rare: #FF4343;
  --text-color-light-primary: var(--bg-circle-two);
  --text-color-dark: var(--bg-circle);
  --text-color-light-dark: rgba(62, 62, 62, 0.65);
  --text-color-light-supportive: #CCCCCC;
  --text-color-supportiveg-support: #ECECEC;
  //buttons color

  --button-initial: #2727FF;
  --button-hover: rgba(39, 39, 255, 0.6);
  --button-disabled: #CCCCCC;

  //шрифты
  --fonts:'cera pro';
  --inter:'inter';

  //Круги фон
  --bg-circle:#1A243F;
  --bg-circle-two:var(--bg-circle-two);
}
