.input{
  display: block;
  border: 1px solid var(--text-color-secondary);
  border-radius: 29px;
  max-width: 430px;
  width: 100%;
  padding:12px 0 10px 16px ;
  margin-bottom: 10px;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 120%;
  color: var(--text-color-secondary);
  font-family: var(--inter);
  &::placeholder{
    color:  rgba(72, 72, 72, 0.8);;

  }
@media (max-width: 400px) {
max-width: 330px;
}

}
textarea{
  border: 1px solid var(--text-color-secondary);
  border-radius: 29px;
  max-width: 430px;
  font-family: var(--inter);
  width: 100%;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 120%;
  margin-bottom: 35px;
  height: 100px;
  padding: 12px 0 0 16px;
  &::placeholder{
    color: var(--text-color-secondary);
  }
  @media (max-width: 400px) {
    max-width: 330px;
  }

}

button{
  background: var(--text-color-active);
  border-radius: 29px;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 120%;
  color: var(--text-color-supportive);
padding: 14px 63px;
  border: none;
  display: flex;
  margin-bottom: 90px;
  font-family: var(--inter);
  &:hover{
    background: var(--button-hover);
  }
}
