.list {
  background: var(--black);
  padding-top: 90px;
  padding-bottom: 80px;
  @media (max-width: $lg) {
    padding-top: 45px;
  }

  &__founder {
    display: flex;
    justify-content: space-between;
    @media (max-width: $lg) {
      display: block;
    }

    h2 {
      font-weight: 400;
      font-size: 60px;
      line-height: 115%;
      text-transform: uppercase;
      color: var(--white);
      @media (max-width: $Extra-large) {
        font-size: 40px;
      }
    }
  }

  &__text {
    display: flex;
    align-items: flex-start;
    @media (max-width: $lg) {
      margin-top: 25px;
      display: block;
    }
  }

  &__photo {
    margin-right: 30px;
    picture{
      img{
        @media (max-width: $lg) {
          display: block;
        }
      }
    }
  }

  &__paragraph {
    h3 {
      font-weight: 400;
      font-size: 30px;
      line-height: 120%;
      color: var(--white);
      margin-bottom: 5px;
    }

    p {
      font-weight: 400;
      font-size: 18px;
      line-height: 140%;
      color: var(--white);
      max-width: 379px;

      &:last-child {
        margin-top: 17px;
        max-width: 584px;
      }
    }
  }

  &__wrapper {
    margin-top: 84px;

    h3 {
      font-weight: 400;
      font-size: 60px;
      line-height: 115%;
      color: var(--white);
      @media (max-width: $lg) {
        font-size: 30px;
      }
    }

  }

  &__from {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    @media (max-width: $Mega-Extra-large) {
      display: block;

    }
@media (max-width: 768px) {
  display: none;
}
  }

  &__from-block {
    background: var(--grey);
    padding: 16px 13px 16px 13px;
    border-radius: 20px;
    max-width: calc(586px - 30px);
    height: 318px;
    font-weight: 400;
    position: relative;
    margin-top: 30px;
    @media (max-width: $Mega-Extra-large) {
      margin: 0 auto;
      margin-top: 30px;
    }
    @media (max-width: $md) {

      height: 421px;
    }

    picture {
      img {
        margin-left: 0;
      }
    }

    h3 {
      font-size: 35px;
      line-height: 120%;
      text-transform: uppercase;
      color: var(--black);
      @media (max-width: $md) {
font-size: 22px;
        white-space: pre-line;
      }
      @media (max-width:$md ) {
        white-space:inherit;
        text-align: left;
      }
    }

    p {
      font-size: 18px;
      line-height: 140%;
      color: var(--black);
      margin-top: 2px;
      @media (max-width: $md) {
        font-size:16px;
        margin-top: 10px;
        text-align: left;
      }
    }
  }

  &__img {
    margin-top: 30px;
    position: absolute;
    left: 30px;
    bottom: 16px;


  }

  &__number {
    position: absolute;
    right: 25px;
    bottom: -16px;

    h5 {
      font-family: var(--inter);
      font-style: normal;
      font-weight: 400;
      font-size: 150px;
      line-height: 182px;
      text-transform: uppercase;
      color: var(--greygrey);
      @media (max-width: $md) {
        font-size: 100px;
        line-height: 121px;
      }
    }
  }
  &__swipers{
 display: none;
    @media (max-width: 768px) {
      display: block;

    }
  }
}


