
.receive {
  background: var(--white);
  padding: 90px 0px 105px 0px;
  @media (max-width: $md) {
    padding-top:45px ;
  }


  hr {
    display: block;
    margin-left: 0;
    @media (max-width: $esm) {
      max-width: 275px;
    }
    @media (max-width: $md) {
      display: none;
    }
  }


  h3 {
    font-family: var(--fonts);
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 115%;
    color: var(--black);
    @media (max-width: $md) {
      font-size: 35px;
      line-height: 115%;
    }
  }


  &__sales {
    display: none;
    position: relative;
    overflow: hidden;
    @media (max-width: $mel-1280) {
      flex-wrap: wrap;
      justify-content: center;
    }


    &.active {
      display: flex;
      position: relative;
    }

    &-item {
      position: relative;

      &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(62, 62, 62, 0.65);
        border-radius: 13px;

      }
      &:hover{
&:before{
  display: none;
}
      }
    }

    h3 {
      position: relative;
      z-index: 1;
      font-style: normal;
      font-weight: 400;
      font-size: 25px;
      line-height: 120%;
      color: var(--white);
    }

    p {
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 140%;
      color: var(--white);
      display: none;
    }
  }

  &__sales-one {
    background-image: url("../img/receive_b2b.png");
    max-width: 278px;
    width: 100%;
    height: 597px;
    @media (max-width: $md) {
      display: none;
    }
p{
  padding: 0 16px 16px 16px;
}
    h3 {
      font-weight: 400;
      font-size: 25px;
      line-height: 120%;
      color: var(--white);
      padding: 16px 16px 0 16px;
    }

    &:hover {
      background: var(--blue);
      border-radius: 13px;

      p {
        display: block;

      }
    }
  }


  &__sales-two {
    display: flex;
    flex-wrap: wrap;
    margin-left: 30px;
    max-width: 430px;
    width: 100%;
    @media (max-width: $lg) {
      margin-left: 25px;
    }
    @media (max-width: $md) {
      display: none;
    }
  }

  &__img-one {
    background-image: url("../img/receive_product.png");
    max-width: 430px;
    width: 100%;
    height: 277px;
    background-size: cover;
    padding-right: 16px;
    border-radius: 13px;

h3,p{
  padding: 0px 16px 16px 16px;
}
    &:hover {
      background: var(--blue);
      border-radius: 13px;
      p {
        display: block;
      }
    }
  }

  .receive__img-two {
    background-image: url("../img/receive_crm.png");
    max-width: 200px;
    width: 100%;
    background-size: cover;
    height: 295px;
    margin-top: 25px;
p{
  padding: 0 16px 16px 16px;
}
    h3{
      padding: 16px 16px 0 16px;
    }

    &:hover {
      background: var(--blue);
      border-radius: 13px;

      p {
        display: block;
      }
    }
  }


  .receive__img-three {
    background-image: url("../img/receive_service.png");
    max-width: 200px;
    width: 100%;
    background-size: cover;
    height: 295px;
    margin-top: 25px;
    margin-left: 30px;
p{
  padding: 0 16px 16px 16px;
}
    h3{
      padding: 16px 16px 0 16px;
    }

    &:hover {
      background: var(--blue);
      border-radius: 13px;
      p {
        display: block;
      }
    }
  }

  &__text {
    margin-left: 30px;
    max-width: 432px;
    position: relative;
    @media (max-width: $mel-1280) {
      order: -1;
    }
    @media (max-width: $md) {
      margin-left: 0;
      margin-top: 30px;
    }

    ul {
      margin-left: 45px;

      li {
        margin-top: 10px;
      }
    }

    h3 {
      margin-bottom: 20px;
      padding: 0;
      font-style: normal;
      font-weight: 400;
      font-size: 35px;
      line-height: 120%;
      text-transform: uppercase;
      color: var(--black);
      @media (max-width: $md) {
     margin-bottom: 10px;
        font-size: 30px;
      }


      span {
        color: var(--red);
        font-style: normal;
        font-weight: 400;
        font-size: 35px;
        line-height: 120%;
        text-transform: uppercase;
        @media (max-width: $md) {
          font-size: 30px;
        }
      }
    }

    p {
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 140%;
      color: var(--black);
      display: block;
      padding: 0;

    }

    p:nth-of-type(2) {
      margin-top: 10px;
    }

  }

  &__effectiveness {
    display: none;
    margin-top: 25px;
    position: relative;
    overflow: hidden;

    &.active {
      display: flex;
      justify-content: center;
    }

  }

  &__effectiveness-img {
    display: flex;
    flex-wrap: wrap;
    max-width: 739px;
    width: 100%;
    justify-content: space-between;
    @media (max-width: $mel-1260) {
      display: none;
    }

    h3 {
      font-style: normal;
      font-weight: 400;
      font-size: 25px;
      line-height: 120%;
      color: var(--white);
      padding-top: 16px;
      padding-left: 16px;
      margin-bottom: 10px;
      position: relative;
    }

    p {
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 140%;
      color: var(--white);
      display: none;
      padding: 0 16px;
    }

  }


  &__effectiveness-img-one {
    background-image: url("../img/effectiveness_one.png");
    max-width: 431px;
    width: 100%;
    height: 222px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 25px;

    &:hover {
      background: var(--blue);
      border-radius: 13px;

      p {
        display: block;
      }
    }
  }

  &__effectiveness-img-two {
    background-image: url("../img/effectiveness_two.png");
    max-width: 278px;
    width: 100%;
    height: 222px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 25px;

    &:hover {
      background: var(--blue);
      border-radius: 13px;

      p {
        display: block;
      }
    }
  }

  &__effectiveness-img-three {
    background-image: url("../img/effectiveness_three.png");
    max-width: 278px;
    width: 100%;
    height: 202px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 25px;

    &:hover {
      background: var(--blue);
      border-radius: 13px;

      p {
        display: block;
      }
    }
  }

  &__effectiveness-img-four {
    background-image: url("../img/effectiveness_four.png");
    max-width: 431px;
    width: 100%;
    height: 123px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 25px;

    &:hover {
      background: var(--blue);
      border-radius: 13px;

      p {
        display: block;
      }
    }
  }

  &__effectiveness-img-five {
    background-image: url("../img/effectiveness_five.png");
    max-width: 431px;
    width: 100%;
    height: 123px;
    background-size: cover;
    background-repeat: no-repeat;

    &:hover {
      background: var(--blue);
      border-radius: 13px;

      p {
        display: block;
      }
    }
  }

  &__effectiveness-img-six {
    background-image: url("../img/effectiveness_six.png");
    max-width: 278px;
    width: 100%;
    height: 202px;
    background-size: cover;
    background-repeat: no-repeat;

    &:hover {
      background: var(--blue);
      border-radius: 13px;

      p {
        display: block;
      }
    }
  }

  &__effectiveness-text {
    margin-left: 30px;
    max-width: 431px;
    width: 100%;
    z-index: 2;
    position: relative;
    @media (max-width: $md) {
      margin-left: 0;
    }

    h3 {
      font-style: normal;
      font-weight: 400;
      font-size: 35px;
      line-height: 120%;
      text-transform: uppercase;
      white-space: pre-line;
      @media (max-width: $md) {
        font-size: 30px;
        white-space: inherit;
      }

      &:last-child {
        margin-top: 40px;
      }

      color: var(--black);

      span {
        color: var(--red);
      }
    }

    p {
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 140%;
      color: var(--black);
      margin-top: 20px;

    }
  }

  &__customers {
    justify-content: space-between;
    margin-top: 27px;
    display: none;

    &.active {
      display: flex;

    }

  }

  &__customers-img {
    background-image: url("../img/Customers_img.png");
    max-width: 723px;
    width: 100%;
    height: 433px;
    background-size: cover;
    position: relative;
    margin-top: 80px;
    @media (max-width: $mel-1260) {
      display: none;
    }

  }

  &__customers-img-text-one {
    position: absolute;
    top: 32%;
    left: 14%;

    p {
      font-weight: 400;
      font-size: 30px;
      line-height: 120%;
      color: #020D2B;
      opacity: 0.2;
    }
  }

  &__customers-img-text {
    position: absolute;
    top: 32%;
    right: 10%;
    display: block;

    p {
      font-weight: 400;
      font-size: 30px;
      line-height: 120%;
      color: #020D2B;

    }
  }

  &__customers-text {
    max-width: 431px;
    width: 100%;

    h3 {
      font-weight: 400;
      font-size: 35px;
      line-height: 120%;
      text-transform: uppercase;
      color: var(--black);
      @media (max-width: $md) {
        font-size: 30px;
      }

      &:last-child {
        margin-top: 40px;
      }

      span {
        color: var(--red);
        @media (max-width: $md) {
          font-size: 30px;
        }
      }
    }

    p {
      font-weight: 400;
      font-size: 18px;
      line-height: 140%;
      color: var(--black);
      margin-top: 20px;
      white-space: pre-line;
    }
  }

  &__all {
    display: flex;
    width: 100%;
    max-width: 1200px;
    margin-top: 25px;
    justify-content: space-around;
    @media (max-width: $mel-1260) {
      display: none;
    }
  }

  &__slide {
    margin-top: 90px;
    display: none;
    @media (max-width:$el ) {
      display: block;
    }

    h3 {
      font-weight: 400;
      font-size: 30px;
      line-height: 120%;
      display: flex;
      justify-content: center;
      color: var(--black);
    }
  }

  &__item {
    text-align: left;
    max-width: 290px;
    width: 100%;
    background: var(--blue);
    padding: 16px;
    height: 447px;
    border-radius: 13px;
    margin-top: 25px;

    h3 {
      display: block;
      font-weight: 400;
      font-size: 20px;
      line-height: 120%;
      color: var(--white);
    }

    p {
      color: var(--white);
      font-weight: 400;
      font-size: 16px;
      line-height: 140%;
    }
  }

  &__next {
    display: none;
    @media (max-width: $el) {
      display: block;
    }
p{
  display: flex;
  font-size: 16px;
  line-height: 140%;
}
&>.next{
color: var(--blue);

}

  }

  &__loyalty {
    justify-content: space-between;
    margin-top: 27px;
    display: none;

    &.active {
      display: flex;

    }

  }

  &__loyalty-img {
    background-image: url("../img/Customers_img.png");
    max-width: 723px;
    width: 100%;
    height: 433px;
    background-size: cover;
    position: relative;
    margin-top: 80px;
    @media (max-width: $mel-1260) {
      display: none;
    }

  }

  &__loyalty-img-text-one {
    position: absolute;
    top: 32%;
    left: 14%;

    p {
      font-weight: 400;
      font-size: 30px;
      line-height: 120%;
      color: #020D2B;
      opacity: 0.2;
    }
  }

  &__loyalty-img-text {
    position: absolute;
    top: 32%;
    right:7%;
    display: block;
    text-align: right;

    p {
      font-weight: 400;
      font-size: 30px;
      line-height: 120%;
      color: #020D2B;

    }
  }

  &__loyalty-text {
    max-width: 431px;
    width: 100%;

    h3 {
      font-weight: 400;
      font-size: 35px;
      line-height: 120%;
      text-transform: uppercase;
      color: var(--black);
      @media (max-width: $md) {
        font-size: 30px;
      }

      &:last-child {
        margin-top: 40px;
      }

      span {
        color: var(--red);
        @media (max-width: $md) {
          font-size: 30px;
        }
      }
    }

    p {
      font-weight: 400;
      font-size: 18px;
      line-height: 140%;
      color: var(--black);
      margin-top: 20px;
      white-space: pre-line;
    }
  }


}

.ons {
  display: block;
}

.flex {
  display: none;
  justify-content: space-between;
  @media (max-width: $el) {
    display: flex;
  }
}

.back {
  display: none;
  align-items: center;
  white-space: pre-line;
  justify-content: flex-end;
  @media (max-width: $el) {
    display: flex;
  }
  &:before {
    display: flex;
    content: '';
    background-image: url("../icon/swiper_next.svg");
    width: 16px;
    height: 27px;
    transform: rotate(180deg);
    margin-right: 15px;
  }

}

.next {
  display: none;
  align-items: center;
  white-space: pre-line;
  justify-content: flex-end;
  color: var(--blue);
  @media (max-width: $el) {
    display: flex;
  }
  &:after {
    margin-left: 15px;
    display: flex;
    content: '';
    background-image: url("../icon/swiper_next.svg");
    width: 16px;
    height: 27px;
  }

}
.text_h3{
  margin-top: 25px;
}
.circle6{
  max-width: 498px;
  width: 100%;
  height: 488px;
  position: absolute;
  top: 2px;
  right: -119px;
  border: 2px solid #E0E0F9;
  border-radius: 50%;
  @media (max-width: $md) {
    max-width: 295px;
    height: 289px;
    top: 571px;
    right: -125px;
  }

}